.Téc {
    background-color: rgb(0, 197, 0);
}
.Art {
    background-color: aqua;
}
.Hist {
    background-color: rgb(221, 221, 0);
}
.PI {
    background-color: rgb(204, 22, 22);
}
.Filo {
    background-color: bisque;
}
.Mat {
    background-color: blue;
}
.Química {
    background-color: blueviolet;
}
.Port {
    background-color: red;
}
.Geo {
    background-color: green;
}
.Bio {
    background-color: yellowgreen;
}
.PV {
    background-color: aliceblue;
}
.Socio {
    background-color: rgb(255, 120, 246);
}
.Fisica {
     background-color: brown;
}